body{
    font-size: 1.3em;
}

html{
    scroll-behavior: smooth;
}

table{
    text-align: center;
}

table, td{
    border: 1px solid black;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
   
.sr-only-focusable:active,
.sr-only-focusable:focus {
outline:none; /*para que al coger el foco no marca con borde */
position: static;
width: auto;
height: auto;
margin: 0;
overflow: visible;
clip: auto;
}


a:hover, a:focus, a:active { 
    position: relative;
} 

a:hover span, a:focus span, a:active span { 
    left: 0; 
    top: 30px; 
    width: 100px; 
    padding: 5px;
    background-color: bisque;
    border: 1px solid black;
}

a:hover span:before, a:focus span:before, a:active span:before {
    content: "Más Información";
}

span { 
    position: absolute;   
    left: -9999em;   
    width: 1px;   
    overflow: hidden;   
}    

footer{
    width: 100%;
    height: 5vh;
    border: 1px solid black;
    text-align: center;
    padding-top:3vh;
}

a:hover .footerAcc, a:focus .footerAcc, a:active .footerAcc { 
    left: 120px; 
    top: -30px; 
    width: 100%;
}

img{
    width: 300px;
}

ul{
    list-style-image: url(../img/list.png);
}
.logo{
    width: 500px;
}
.tablaJuegos th{
    border: 1px solid black;
}
.tablaJuegos .noBorder{
    border: 0;
}
.tablaJuegos{
    border: 0;
}
.descs {
    position: absolute;  
    left: -9999em;   
    width: 1px;   
    overflow: hidden;
}
.allSnakes{
    width: 700px
}
